<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="NUnit">
            <section name="TestRunner" type="System.Configuration.NameValueSectionHandler"/>
        </sectionGroup>
    </configSections>
    <appSettings>
        <add key="QUnitLocation" value="C:\Users\234605F\Documents\Visual Studio 2010\Projects\QUnit-in-NUnit\QUnitValidation\bin\Debug" />
    </appSettings>
    <NUnit>
        <TestRunner>
            <!-- Valid values are STA,MTA. Others ignored. -->
            <add key="ApartmentState" value="STA"/>
        </TestRunner>
    </NUnit>
</configuration>